{
  "extends": "airbnb",
  "rules": {
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}